$primary-font : 'Quicksand';
$heading-font : 'EB_Garamond';
$h1-font : 'yellowtailregular';


//colors
$white : #fff;
$black : #000;
$primary-color : #4A4A4A;
$secondary-color : #223168;
$h1-color : #fcd12a;

$primary-bg-color : #223168;
$header-bg-color : #2d77a4;