@font-face {
    font-family: 'yellowtailregular';
    src: url('../fonts/Yellowtail-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlow_condensedregular';
    src: url('../fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/barlowcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quicksand';
    src:url('../fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-SemiBold.woff2') format('woff2'),
        url('../fonts/Quicksand-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB_Garamond';
    src: url('../fonts/EBGaramond-Regular.woff2') format('woff2'),
        url('../fonts/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB_Garamond';
    src: url('../fonts/EBGaramond-Italic.woff2') format('woff2'),
        url('../fonts/EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
